{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="container">
    {% for product in products %}
    {% include 'home/_card.html.twig' with {product: product} only %}
    {% endfor %}
</div>
{% endblock %}
